<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.8.3" targetFramework="net45" />
  <package id="NAudio.Lame" version="1.0.7" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net45" />
  <package id="Speech.Engine" version="2.0.0.4" targetFramework="net471" />
  <package id="SpeechLib.Models" version="1.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="SpeechLib.Synthesis" version="1.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Syn.Speech" version="1.0.3" targetFramework="net471" />
</packages>